.parentDiv {
    display: flex; 
    justify-content: space-around;
    border: 2px solid black;
    background-color: rgb(242, 202, 237);
    width: 100%;
    height: 300%;
    font-size: small;
    
  
  }
  
  .parentDiv h1 {
    cursor: pointer;
    border: 2px solid green;
    size-adjust: 2px;
  
  }